/* Our Services section */
.circle-bg {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #E8E8E8;
}

.circle-bg img {
    width: 60px;
    height: 60px;
}

.text-dangers {
    color: #FF0000;
    font-size: smaller;
}

/* Header section */
@media (max-width: 576px) {
    .font-size-sm {
        font-size: 0.70rem;
    }

    .bg-sm-secondary {
        background-color: #6C757D;
    }

}

/* our success history */
.Success-History .tab-content {
    background-color: #ffffff;
    padding: 5px;
}

.Success-History .nav-pills .nav-link {
    border-radius: 0;
}

.Success-History .nav-pills .nav-item .nav-link.active {
    background-color: #00599b;
    color: white;
}

.Success-History .nav-pills .nav-link {
    background-color: #d9d9d9;
    color: black;
}


.Success-History .carousel-control-prev-icon,
.Success-History .carousel-control-next-icon {
    background-color: #000;
}

.Success-History .carousel-control-next,
.Success-History .carousel-control-prev {
    position: relative;
}

.Success-History .carousel-control-prev-icon {
    background-color: #1e2421;
    opacity: 1;
}

.Success-History .carousel-control-next-icon {
    background-color: #01ad4e;
    opacity: 1;
}

.Success-History .carousel-control-prev-icon div,
.Success-History .carousel-control-next-icon div {
    width: 23px;
    height: 3px;
    background-color: #ffffff;
    margin-top: 14px;
}

.Success-History .carousel-control-prev-icon div {
    margin-left: 10px;
}

.Success-History .carousel-control-next-icon div {
    margin-right: 10px;
}

.Success-History button.btn:hover {
    color: #ffffff !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;
}

/* Faq and our team section */
.FAQ-Section .accordion-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.FAQ-Section .accordion-button i {
    font-size: 1.25rem;
}

.FAQ-Section .accordion-button::after {
    width: 0px;
    background-image: none;
}

.ourTeam .carousel-control-next,
.ourTeam .carousel-control-prev {
    position: relative;
}

.ourTeam .carousel-control-prev-icon,
.ourTeam .carousel-control-next-icon {
    filter: invert(50%);
}

.ourTeam .card {
    border: none;
}


/* footer section */
.Footer-Section {
    border-bottom: 2px dashed #fff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.Footer-Section .desclaimer {
    border-right: 2px dashed #fff;
}

/* Mobile Styles */
@media (max-width: 576px) {
    .Footer-Section .desclaimer {
        border-right: none;
    }

    .footer-icons img {
        width: 40px;
        height: auto;
    }

    .footer-icons2 img {
        width: 180px;
        height: auto;
    }
}

/* Tablet Styles */
@media (min-width: 577px) and (max-width: 768px) {
    .Footer-Section .desclaimer {
        border-right: none;
        margin-bottom: 1rem;
    }

    .Footer-Section {
        padding-bottom: 1rem;
    }

    .footer-icons img {
        width: 45px;
        height: auto;
    }

    .footer-icons2 img {
        width: 160px;
        height: auto;
    }

    .footersecondsection .col-lg-4 {
        margin-bottom: 2rem;
    }

    .footersecondsection h5 {
        font-size: 1.25rem;
    }

    .footersecondsection p.small {
        font-size: 0.9rem;
    }
}

/* appointment booking */

.appointmentBooking {
    margin: 2rem auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.Appointment-logo img {
    max-width: 150px;
    margin-bottom: 15px;
}

.logo-container img {
    max-width: 80px;
    margin-bottom: 15px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 15px;
}

/* New styles for weekdays header */
.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
    font-weight: bold;
    text-align: center;
}

.calendar-weekday {
    padding: 10px;
    background-color: #ffffff;
    color: #A1A1A1;
    border-radius: 30px;
}


.calendar-day {
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #D9E9FF;
    color: #007bff;
    border-radius: 30px;
    cursor: pointer;
}

.calendar-day.disabled {
    background-color: #ffffff;
    color: #A1A1A1;
    pointer-events: none;
}

.calendar-day.active {
    background-color: #007bff;
    color: white;
}

.time-slot-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.time-slot {
    flex-grow: 1;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #007bff;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    color: #007bff;
    transition: all 0.3s ease;
}

.time-slot.selected {
    flex-grow: 0.5;
    background-color: #6c757d;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    padding: 15px;
}

.next-btn {
    display: none;
    flex-grow: 0.5;
    margin-left: 10px;
    padding: 10px;
}

.time-slot-container.active .next-btn {
    display: inline-block;
}

#prev-month {
    border: none;
    font-size: 2rem;
    margin-left: 80px;
    margin-bottom: 5px;
}

#prev-month:hover {
    background-color: white;
    color: #6C757D;
}

#next-month {
    border: none;
    font-size: 2rem;
    margin-right: 80px;
    margin-bottom: 5px;
}

#next-month:hover {
    background-color: white;
    color: #6C757D;
}


/* booking details */
@media (min-width: 768px) {
    .my-element {
        width: 50%;
    }

    .leftcolumns {
        border-right: 1px solid rgb(194, 194, 194);
    }
}